:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #ce512f;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --text-color: #000000;
  --separator-color: #d4d6e0;
  --primary-box-shadow: 3px 10px 45px 20px rgb(224 216 224 / 21%);

}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
